In [29]:
import pandas as pd

In [30]:
path = "resources/traffic_collision.csv"

In [31]:
df = pd.read_csv(path)

In [32]:
df.head()

,Date Occurred,Time Occurred,Area Name,Location
0,2019-07-13,930,Devonshire,"{'longitude': '-118.5216', 'human_address': '{..."
1,2019-07-13,1135,Hollywood,"{'longitude': '-118.3179', 'human_address': '{..."
2,2019-07-13,1310,Pacific,"{'longitude': '-118.4637', 'human_address': '{..."
3,2019-07-13,1230,Van Nuys,"{'longitude': '-118.4137', 'human_address': '{..."
4,2019-07-13,800,Northeast,"{'longitude': '-118.1843', 'human_address': '{..."

In [33]:
df["Date Occurred"] = pd.to_datetime(df["Date Occurred"])

In [34]:
def get_long(long_and_lat):
    return float(long_and_lat.split("longitude")[1].split("\'")[2])

In [35]:
def get_lat(long_and_lat):
    return float(long_and_lat.split("latitude")[1].split("'")[2])

In [36]:
latitudes = df["Location"].map(get_lat)

In [37]:
longitudes = df["Location"].map(get_long)

In [38]:
map_data = pd.DataFrame({"Date": df["Date Occurred"], "Longitude": longitudes  , "Latitude": latitudes})

In [39]:
map_data.head()

        Date  Longitude  Latitude
0 2019-07-13  -118.5216   34.2649
1 2019-07-13  -118.3179   34.0918
2 2019-07-13  -118.4637   33.9778
3 2019-07-13  -118.4137   34.1451
4 2019-07-13  -118.1843   34.1155

In [40]:
map_data[map_data["Longitude"] == 0].head()

            Date  Longitude  Latitude
10000 2019-05-04        0.0       0.0
12902 2019-04-15        0.0       0.0
26752 2019-01-16        0.0       0.0
30145 2018-12-22        0.0       0.0
32944 2018-12-05        0.0       0.0

In [41]:
map_data = map_data[map_data["Longitude"] != 0]

In [42]:
map_data.head()

        Date  Longitude  Latitude
0 2019-07-13  -118.5216   34.2649
1 2019-07-13  -118.3179   34.0918
2 2019-07-13  -118.4637   33.9778
3 2019-07-13  -118.4137   34.1451
4 2019-07-13  -118.1843   34.1155

In [43]:
map_data.to_csv("resources/map_data.csv", index=False)